// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/bootstrap/main.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import 'static/css/bootstrap.min.css';

.app {
  font-family: Helvetica;
  font-size: 14px;
}

.top {
  margin: 0 0 3em;
}

.content {
  margin: 0 auto;
  max-width: 900px;
}